#box{
    margin-left:15%; 
    margin-right:15%; 
    margin-top:10px; 
    margin-bottom:5px; 
    padding-top:20px; 
    padding-left:20px; 
    padding-bottom:20px; 
    border:5px groove #0000cc;
    width:1200px;    
}



